/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* Add styles specific for phones or smaller devices here */
    body {
        font-size: 14px;
    }
}

.navbar-brand{
background-color: #315af0;
  color: #ffffff;
  padding: 10px;
}